[Unit]
Description=Remove old items from the huggingface cache
ConditionPathExists={{ localstorage_huggingface_cache_root }}

[Service]
Type=oneshot
ExecStart="{{ localstorage_huggingface_shell_script }}"

[Install]
WantedBy=multi-user.target
