# Clean up local temp files older than a month
D {{ localstorage_tmpdir }} {{ localstorage_tmpdir_attrs['mode'] }} {{ localstorage_tmpdir_attrs['owner'] }} {{ localstorage_tmpdir_attrs['group'] }} {{ localstorage_tmpdir_age }}
