[Unit]
Description=Clean up local storage and carry out package upgrades
{% for userdir in slurm_local_storage_userdirs %}
ConditionPathExists={{ userdir }}
{% endfor %}
{% for globaldir in slurm_local_storage_globaldirs %}
ConditionPathExists={{ globaldir }}
{% endfor %}

[Service]
Type=oneshot
ExecStart="{{ slurm_node_maintenance_shell_script }}"

[Install]
WantedBy=multi-user.target
