__use_yte__: True

__definitions__:
  - import os

{% if inventory_hostname in groups[slurm_worker_group_name] %}
executor: slurm
resources:
  # constrain memory so that every job can be submitted to slurm
  mem_mb: 8000
shared-fs-usage:
  - persistence
  - software-deployment
  - sources
  - source-cache
{% endif %}
software-deployment-method:
  - conda
# ensure that we wait for the NFS
latency-wait: 60
# enforce using local work directories instead of directly running in NFS
default-storage-provider: fs
?if "SLURM_JOB_ID" in os.environ:
    local-storage-prefix: /local/work/$USER/$SLURM_JOB_ID/snakemake-scratch
?else:
    local-storage-prefix: /local/work/$USER/snakemake-scratch
