#!/usr/bin/env sh

mc cp \
	"/etc/letsencrypt/live/{{ httpscert_domain }}/fullchain.pem" \
	"/etc/letsencrypt/live/{{ httpscert_domain }}/privkey.pem" \
	"{{ httpscert_minio_alias }}/{{ httpscert_minio_bucket }}/"
