[Unit]
Description=Remove old items from the huggingface cache
ConditionPathExists={{ cache_huggingface_root }}

[Service]
Type=oneshot
ExecStart="{{ cache_huggingface_shell_script }}"

[Install]
WantedBy=multi-user.target
