export HUGGINGFACE_HUB_CACHE="{{ cache_huggingface_root }}/$USER/hub"
export HUGGINGFACE_ASSETS_CACHE="{{ cache_huggingface_root }}/$USER/assets"
export HF_DATASETS_CACHE="{{ cache_huggingface_root }}/$USER/datasets"
