apiVersion: v1
kind: Secret
metadata:
  name: {{ k8s_deployment_pull_secret_name }}
  namespace: {{ k8s_deployment_namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ k8s_deployment_pull_secret_contents | to_json | b64encode }}
