apiVersion: v1
kind: Secret
metadata:
  name: {{ k8s_deployment_secret_name }}
  namespace: {{ k8s_deployment_namespace }}
data: {{ k8s_deployment_secret_env | dict2items | map('b64encode', attribute='value') | items2dict | to_yaml }}
