apiVersion: v1
kind: Service
metadata:
  name: {{ k8s_deployment_service_name }}
  namespace: {{ k8s_deployment_namespace }}
spec:
  selector: {{ k8s_deployment_labels | to_yaml }}
  ports:
    - name: {{ k8s_deployment_service_port_name }}
      protocol: TCP
      port: {{ k8s_deployment_service_port_number }}
      targetPort: {{ k8s_deployment_container_port_name }}
