apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ k8s_deployment_traefik_strip_prefix_middleware_name }}
  namespace: {{ k8s_deployment_namespace }}
spec:
  stripPrefix:
    prefixes:
      - {{ k8s_deployment_ingress_path_prefix }}

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ k8s_deployment_ingress_name }}
  namespace: {{ k8s_deployment_namespace }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: PathPrefix(`{{ k8s_deployment_ingress_path_prefix }}`)
      kind: Rule
      middlewares:
        - name: {{ k8s_deployment_traefik_strip_prefix_middleware_name }}
          namespace: {{ k8s_deployment_namespace }}
      services:
        - name: {{ k8s_deployment_service_name }}
          namespace: {{ k8s_deployment_namespace }}
          port: {{ k8s_deployment_service_port_name }}
