proxyAddr: {{ teleport_proxy_host }}:{{ teleport_proxy_port }}

joinParams:
  method: token

roles: app
apps:
  - name: {{ teleport_app_name }}
    uri: {{ teleport_app_uri }}
    labels: {{ teleport_app_labels | to_yaml }}
    rewrite:
      headers: {{ teleport_app_rewrite_headers | to_yaml }}

extraEnv:
  - name: HTTP_PROXY
    value: {{ http_proxy }}
  - name: HTTPS_PROXY
    value: {{ http_proxy }}
  - name: NO_PROXY
    value: {{ no_proxy }}
