proxyAddr: {{ teleport_proxy_host }}:{{ teleport_proxy_port }}

joinParams:
  method: token

roles: app
apps: {{ teleport_apps | default([]) }}

extraEnv:
  - name: HTTP_PROXY
    value: {{ http_proxy }}
  - name: HTTPS_PROXY
    value: {{ http_proxy }}
  - name: NO_PROXY
    value: {{ no_proxy }}
