apiVersion: v1
kind: Secret
metadata:
  name: {{ labelstudio_storage_s3_secret_name }}
  namespace: {{ labelstudio_namespace }}
data:
  access-key: {{ labelstudio_storage_s3_access_key | b64encode }}
  secret-key: {{ labelstudio_storage_s3_secret_key | b64encode }}
