
[defaults]
host_key_checking = False
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
remote_tmp = /tmp/.ansible_$USER
[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30s -o PreferredAuthentications=publickey,keyboard-interactive -o KbdInteractiveAuthentication=yes
