
[defaults]
host_key_checking = False
interpreter_python = auto
library = ./library:./kubespray/library/
roles_path = ~/.ansible/roles:./roles:./kubespray/roles/:/usr/share/ansible/roles:/etc/ansible/roles
remote_tmp = /tmp/.ansible_$USER
[ssh_connection]
pipelining = True
